/* Reset CSS (DO NOT DELETE) */
html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lucida Grande";
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* Write your code below */
.container {
  width: 1170px;
  margin: 0 auto;
}

.btn {
  padding: 12px 24px;
  color: #0f0800;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
}

.btn:hover {
  opacity: 1;
}

/* Ilham Begin */

.message-wrapper {
  border-bottom: 1px solid #eee;
  padding-bottom: 80px;
  text-align: center;
}

.message {
  background-color:#3DB2FF;
  box-shadow:0 7px #000000;
  padding:15px 40px;
  text-align: center;
  animation: animation1 4s infinite;
}

.message:hover{
  opacity:1;
}

.message:active{
  box-shadow:none;
  top:7px;
  position:relative;
}

.form p{
    text-align: left;
    margin-bottom:10px;
}

.form input{
    text-align: left;
    width: 400px;
    margin-top: 10px;
    margin-bottom: 30px;
    padding: 20px;
    padding-left:10px;
    font-size: 18px;
    border: 1px solid #062535;
    border-radius: 30px;
}

.form textarea{
  text-align: left;
  width: 835px;
  height: 100px;
  margin-top: 10px;
  margin-bottom: 30px;
  padding: 20px;
  padding-left:10px;
  font-size: 18px;
  border: 1px solid #062535;
  border-radius: 30px;
}

@keyframes animation1 {
  0%   {background-color: #3DB2FF;}
  25%  {background-color: #FFB830;}
  50%  {background-color: #FF2442;}
  100% {background-color: #3DB2FF;}
}


/* Ilham End */